<main class="container">
	<div class="col-sm-8">
		<h2>10 Day Forecast</h2>
		<form class="form-inline" method="GET" action="/">
			<label for="zip">Reset Zip:</label>
			<input type="text" class="form-control" name="zip" id="zip" placeholder="Reset Zip">
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Month</th>
					<th>Day</th>
					<th>Year</th>
					<th>Low Temp.</th>
					<th>High Temp.</th>
					<th>Weather</th>
				</tr>
			</thead>
			<tbody>
				<% File.readlines("csv_file.csv").each do |line| %>
				    <tr>
					    <% line.split(',').each do |cell| %>
								<td><%= cell %></td>
					    <% end %>
				    </tr>
				<% end %>
			</tbody>
		</table>
	</div>
</main>