<main class="container">
	<div class="row">
		<div class="col-sm-6">
			<%= erb :weather %>
		</div>
	</div>

	<div class="row"
		<div class="col-sm-12">
			<%= erb :craigslist %>
		</div>
	</div>
</main>